{{outlet}}

<div class="card">
  <header class="bg-grey-lighter p-3 border-grey border-solid">
    <h4>Set Targeting rules</h4>
  </header>

  <div class="bg">
    <p>
      Content in this target will display based on the following rules:

      <button class="float-right text-blue border-transparent btn btn-flat add-rule-set"
        {{action "addRuleSet"}}>
        Add Rule Set
      </button>
    </p>

    {{#if model}}
      <div>
        <button class="btn btn-neutral rounded-r-none border-r-0 rule-add" disabled>
          AND
        </button>
        <button class="btn btn-neutral rounded-l-none rule-or" disabled>
          OR
        </button>
      </div>

      {{child-rules parent=model}}
      {{child-groups parent=model
        addRuleAction=(action 'addRule')
        addGroupsAction=(action 'addGroup')}}



      <label for="">Template Name</label>

      <input type="text" class="template-name" placeholder="template name">
      <div>
        <button class="btn add-rule"
          {{action 'addRule' model}}>
          Add Rule
        </button>

        <button class="btn add-group"
          {{action 'addGroup' model}}>
          Add group
        </button>
      </div>
      <div class="btn-group">
        <button class="btn btn-blue">
          Save Changes
        </button>
        <button class="btn btn-neutral"
          {{action 'removeRuleSet'}}>
          Cancel
        </button>
      </div>
    {{/if}}

    {{#if addNewGroup}}
      {{and-or isAnd=true}}
    {{/if}}

    <br>
    <br>

    {{#if addNewRule}}
      <div class="inline-flex">

      </div>
    {{/if}}

    <br>
    <br>

  </div>
</div>
